@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;500;600;700&display=swap');

body {
    font-family: 'Inconsolata', monospace;
}

input:focus, textarea:focus{
    outline: none;
}
input,textarea{
    outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.progress-bar{
    height: 5px;
    background-color: red;
    margin-top: 10px;
}